
$primary: #641E16;
$secondary: lightgrey;

.abstand {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: white;
}

.abstandcontainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

Table {

}

@import "~bootstrap/scss/bootstrap";
