
$primary: #641E16;

.abstand {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: white;
}

.abstandcontainer {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}


@import "~bootstrap/scss/bootstrap";