.countdown-timer {
    font-size: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

.countdown-margin {
    margin-top: 200px;
    margin-bottom: 200px;
}


.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}